<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= Title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="<%= Url %>/favicon.ico" />
  </head>
  <body>
    <div class="bg-white">
      <header class="bg-white">
        <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
          <a href="<%= Url %>" class="-m-1.5 p-1.5">
            <span class="sr-only"><%= Company %></span>
            <img class="h-8 w-auto" src="<%= Url %>/images/logo.svg" alt="">
          </a>
          <div class="lg:flex lg:gap-x-12">
            <a href="<%= Url %>/interlocking-procedure" class="text-sm font-semibold leading-6 text-gray-900">연동방법</a>
            <a href="<%= Url %>/terms-of-use" class="text-sm font-semibold leading-6 text-gray-900">이용약관</a>
            <a href="<%= Url %>/privacy-policy" class="text-sm font-semibold leading-6 text-gray-900">개인정보처리방침</a>
            <a href="<%= Url %>/license" class="text-sm font-semibold leading-6 text-gray-900">라이선스</a>      
            <a href="<%= Url %>/integration" class="text-sm font-semibold leading-6 text-purple-600">연동하기<span aria-hidden="true">&rarr;</span></a>
          </div>
        </nav>
      </header>
      <main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
        <div class="text-center">
          <p class="text-base font-semibold text-indigo-600"><%= error %></p>
          <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl"><%= message %></h1>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="<%= Url %>" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">메인으로 돌아가기</a>
            <a href="mailto:<%= Email %>" class="text-sm font-semibold text-gray-900">Contact support <span aria-hidden="true">&rarr;</span></a>
          </div>
        </div>
      </main>
      <footer class="bg-white">
        <div class="mx-auto max-w-7xl px-6 py-12 md:flex md:items-center md:justify-between lg:px-8">
          <div class="flex justify-center space-x-6 md:order-2">
            <a href="<%= TwitchLink %>" class="text-gray-400 hover:text-purple-500">
              <span class="sr-only">Twitch</span>
              <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 64 64" aria-hidden="true">
                <path fill-rule="evenodd" d="M5.7 0L1.4 10.985V55.88h15.284V64h8.597l8.12-8.12h12.418l16.716-16.716V0H5.7zm51.104 36.3L47.25 45.85H31.967l-8.12 8.12v-8.12H10.952V5.73h45.85V36.3zM47.25 16.716v16.716h-5.73V16.716h5.73zm-15.284 0v16.716h-5.73V16.716h5.73z" clip-rule="evenodd" />
              </svg>
            </a>
            <a href="<%= YoutubeLink %>" class="text-gray-400 hover:text-red-500">
              <span class="sr-only">YouTube</span>
              <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                <path fill-rule="evenodd" d="M19.812 5.418c.861.23 1.538.907 1.768 1.768C21.998 8.746 22 12 22 12s0 3.255-.418 4.814a2.504 2.504 0 0 1-1.768 1.768c-1.56.419-7.814.419-7.814.419s-6.255 0-7.814-.419a2.505 2.505 0 0 1-1.768-1.768C2 15.255 2 12 2 12s0-3.255.417-4.814a2.507 2.507 0 0 1 1.768-1.768C5.744 5 11.998 5 11.998 5s6.255 0 7.814.418ZM15.194 12 10 15V9l5.194 3Z" clip-rule="evenodd" />
              </svg>
            </a>
          </div>
          <div class="mt-8 md:order-1 md:mt-0">
            <p class="text-center text-xs leading-5 text-gray-500">&copy; 2023 <a class="underline hover:text-purple-400" href="<%= TwitchLink %>"><%= Company %></a>, All rights reserved. Development and Designed By <a class="underline hover:text-purple-400" href="https://www.twitch.tv/rorum827">Rorum</a>, Development Support By <a class="underline hover:text-purple-400" href="https://www.belleravi.com">Belleravi Crew</a></p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
