<!DOCTYPE html>
<!--DO NOT CHANGED-->
<!--라이선스 페이지는 절대 수정하지 마십시오.-->
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= Title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="<%= Url %>/favicon.ico" />
  </head>
  <body>
    <div class="bg-white">
      <header class="bg-white">
        <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
          <a href="<%= Url %>" class="-m-1.5 p-1.5">
            <span class="sr-only"><%= Company %></span>
            <img class="h-8 w-auto" src="<%= Url %>/images/logo.svg" alt="">
          </a>
          <div class="lg:flex lg:gap-x-12">
            <a href="<%= Url %>/interlocking-procedure" class="text-sm font-semibold leading-6 text-gray-900">연동방법</a>
            <a href="<%= Url %>/terms-of-use" class="text-sm font-semibold leading-6 text-gray-900">이용약관</a>
            <a href="<%= Url %>/privacy-policy" class="text-sm font-semibold leading-6 text-gray-900">개인정보처리방침</a>
            <a href="<%= Url %>/license" class="text-sm font-semibold leading-6 text-gray-900">라이선스</a>      
            <a href="<%= Url %>/integration" class="text-sm font-semibold leading-6 text-purple-600">연동하기<span aria-hidden="true">&rarr;</span></a>
          </div>
        </nav>
      </header>
      <div class="bg-white px-6 py-32 lg:px-8">
        <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
          <p class="text-base font-semibold leading-7 text-indigo-600">License</p>
          <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">통합 연동 시스템에 대한 라이선스</h1>
          <p class="mt-6 text-xl leading-8">통합 연동 시스템은 MIT 라이선스를 적용합니다. 또한 연동시스템에서 Twitch의 API와 Microsoft(Xbox와 Minecraft를 포함)의 API를 사용합니다. 이는 별도의 라이선스를 적용합니다.</p>
          <div class="mt-10 max-w-2xl">
            <p>MIT 라이선스에서는 다음 각 조항에 따른 내용을 허가하고 있으며, 사용자는 개발자에게 법적인 책임이나 통합 연동 시스템의 보증을 요구할 수 없습니다.</p>
            <ul role="list" class="mt-8 max-w-xl space-y-8 text-gray-600">
              <li class="flex gap-x-3">
                <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                </svg>
                <span><strong class="font-semibold text-gray-900">개인적, 상업적 이용:</strong> 통합 연동 시스템을 개인 목적 및 상업적 목적으로 사용할 수 있습니다. 단, 통합 연동 시스템 자체를 재판매는 행위는 허용하지 않습니다.</span>
              </li>
              <li class="flex gap-x-3">
                <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                </svg>
                <span><strong class="font-semibold text-gray-900">수정:</strong> 통합 연동 시스템을 자유롭게 수정할 수 있습니다. 이를 통해 본인 환경에 맞게 수정하여 통합 연동 시스템을 운영할 수 있습니다.</span>
              </li>
              <li class="flex gap-x-3">
                <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                </svg>
                <span><strong class="font-semibold text-gray-900">배포:</strong> 자신이 수정한 통합 연동 시스템을 공개 배포할 수 있습니다. 이때 파생된 소프트웨어는 MIT 라이선스를 따라야합니다.</span>
              </li>
            </ul>
            <p class="mt-8">통합 연동 시스템의 저작권은 로럼(Rorum, Email: phoo8651@rorum.net)에게 있습니다. 통합 연동 시스템을 이용, 수정, 배포할 때 원저작자를 표시해야합니다.</p>
            <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">타사 라이선스</h2>
            <p class="mt-6">통합 연동 시스템은 Twitch, Microsoft, Mongo 등의 타사 라이선스를 사용합니다.</p>
            <ul role="list" class="mt-8 max-w-xl space-y-8 text-gray-600">
              <li class="flex gap-x-3">
                <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                </svg>
                <span><strong class="font-semibold text-gray-900">시스템:</strong> 통합 연동 시스템이 동작하는 환경은 NODE JS를 기반으로 하고 있으며, NODE JS는 OpenJS 재단(The Linux Foundation)의 자산입니다. 스타일 도구는 Tailwind가 사용되었으며, Tailwind는 Tailwind Labs Inc의 자산입니다. 본 시스템에는 트위치 API와 마이크로소프트 API가 사용되며 각 API는 트위치와 마이크로 소프트의 자산입니다. 데이터베이스는 MongoDB를 사용합니다. MongoDB는 MongoDB Inc의 자산입니다.</span>
              </li>
              <li class="flex gap-x-3">
                <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                </svg>
                <span><strong class="font-semibold text-gray-900">이미지:</strong> 통합 연동 시스템에 사용되는 이미지 중 Minecraft 게임에 대한 이미지는 Mojang Studios AB의 자산입니다. 이외에 이미지는 Public 이미지입니다.</span>
              </li>
            </ul>
            <p class="mt-10">통합 연동 시스템의 타사 라이선스 각 업체별 다르며, 업체에서 고시하는 이용약관 및 제약조건을 적용 받습니다. 또한 통합 연동 시스템의 부정사용에 대한 Twitch 및 Microsoft로부터의 제재에 대해서 원작자가 책임지지 않습니다.</p>
          </div>
          <div class="mt-16 max-w-2xl">
            <h2 class="text-2xl font-bold tracking-tight text-gray-900">통합 연동 시스템을 사용하는 분들께 드리는 말</h2>
            <p class="mt-6">통합 연동 시스템의 개발 목적은 스트리머분들이 시청자 참여 콘텐츠를 마인크래프트에서 진행할 때 트위치 채팅이나 본인의 디스코드 채널에서 Minecraft 계정의 이름을 받아 수동으로 화이트리스트를 추가하는 번거로움을 줄이고자 개발하게 되었습니다.</p>
            <p class="mt-8">통합 연동 시스템이나 제가 개발한 소프트웨어에 대해 궁금한 점이 있거나, 소프트웨어 개발을 의뢰하고 싶으실 때 언제든 <a class="underline" href="mailto:phoo8651@rorum.net" target="_blank">phoo8651@rorum.net</a>으로 메일보내주시면 됩니다.</p>
            <p class="mt-8 underline decoration-amber-400 decoration-solid font-bold text-xl">통합 연동 시스템은 벨라비 크루의 지원으로 개발되었습니다.</p>
          </div>
        </div>
      </div>
      <footer class="bg-white">
        <div class="mx-auto max-w-7xl px-6 py-12 md:flex md:items-center md:justify-between lg:px-8">
          <div class="flex justify-center space-x-6 md:order-2">
            <a href="<%= TwitchLink %>" class="text-gray-400 hover:text-purple-500">
              <span class="sr-only">Twitch</span>
              <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 64 64" aria-hidden="true">
                <path fill-rule="evenodd" d="M5.7 0L1.4 10.985V55.88h15.284V64h8.597l8.12-8.12h12.418l16.716-16.716V0H5.7zm51.104 36.3L47.25 45.85H31.967l-8.12 8.12v-8.12H10.952V5.73h45.85V36.3zM47.25 16.716v16.716h-5.73V16.716h5.73zm-15.284 0v16.716h-5.73V16.716h5.73z" clip-rule="evenodd" />
              </svg>
            </a>
            <a href="<%= YoutubeLink %>" class="text-gray-400 hover:text-red-500">
              <span class="sr-only">YouTube</span>
              <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                <path fill-rule="evenodd" d="M19.812 5.418c.861.23 1.538.907 1.768 1.768C21.998 8.746 22 12 22 12s0 3.255-.418 4.814a2.504 2.504 0 0 1-1.768 1.768c-1.56.419-7.814.419-7.814.419s-6.255 0-7.814-.419a2.505 2.505 0 0 1-1.768-1.768C2 15.255 2 12 2 12s0-3.255.417-4.814a2.507 2.507 0 0 1 1.768-1.768C5.744 5 11.998 5 11.998 5s6.255 0 7.814.418ZM15.194 12 10 15V9l5.194 3Z" clip-rule="evenodd" />
              </svg>
            </a>
          </div>
          <div class="mt-8 md:order-1 md:mt-0">
            <p class="text-center text-xs leading-5 text-gray-500">&copy; 2023 <a class="underline hover:text-purple-400" href="<%= TwitchLink %>"><%= Company %></a>, All rights reserved. Designed By <a class="underline hover:text-purple-400" href="https://www.twitch.tv/rorum827">Rorum</a>, Supported By <a class="underline hover:text-purple-400" href="https://www.belleravi.com">Belleravi Crew</a></p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
